#dolphin {

  kbd {
    font-family: var(--kbd-font-family);
    font-feature-settings: var(--kbd-font-feature-settings);
    font-optical-sizing: var(--kbd-font-optical-sizing);
    -webkit-font-smoothing: var(--kbd-font-smoothing);

    font-size: var(--kbd-font-size);
    line-height: var(--kbd-line-height);
    font-weight: var(--kbd-font-weight);
    letter-spacing: var(--kbd-letter-spacing);

    color: var(--kbd-text-color);
    background: var(--kbd-bg-color);

    padding-block: var(--kbd-padding-y);
    padding-inline: var(--kbd-padding-x);

    border-style: solid;
    border-width: 1px;
    border-color: var(--kbd-border-color);
    border-radius: var(--kbd-border-radius);
  }

  kbd {

    --kbd-font-family: var(--font-sans);
    --kbd-font-feature-settings: var(--font-sans--font-feature-settings);
    --kbd-font-optical-sizing: var(--font-optical-sizing);
    --kbd-font-smoothing: var(--font-smoothing);

    --kbd-font-size: var(--text-sm);
    --kbd-line-height: var(--leading-4);
    --kbd-font-weight: var(--font-weight-medium);
    --kbd-letter-spacing: var(--tracking-widest);

    --kbd-padding-y: 0.125rem;
    --kbd-padding-x: 0.25rem;
    --kbd-border-radius: 0.25rem;

    --kbd-bg-color: light-dark(var(--color-neutral-100), var(--color-neutral-800));
    --kbd-text-color: light-dark(var(--color-neutral-700), var(--color-neutral-200));
    --kbd-border-color: light-dark(var(--color-neutral-300), var(--color-neutral-700));
  }

  :is(.dark, [data-theme='dark']) & kbd,
  &.dark kbd,
  .dark kbd {
    --kbd-bg-color: var(--color-neutral-800);
    --kbd-text-color: var(--color-neutral-200);
    --kbd-border-color: var(--color-neutral-700);
  }
}
